@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: url("../../assets/fonts/Inter/static/Inter-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-display: optional;
  src: url("../../assets/fonts/Inter/static/Inter-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-display: optional;
  src: url("../../assets/fonts/Inter/static/Inter-SemiBold.ttf") format("ttf");
}
